{{ define "main" }}
  {{ if eq .Kind "home" }}
    {{ .Content }}
    <ul>
      {{ range where .Site.RegularPages "Section" "projects" }}
        <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a> » {{ .Description }}</li>
      {{ end }}
    </ul>
  {{ else if eq .Kind "page" }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}
  {{ else if in (slice "section" "taxonomy" "term") .Kind }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <ul>
      {{ range .Pages }}
        <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a> » {{ .Description }}</li>
      {{ end }}
    </ul>
  {{ else }}
    {{ errorf "Unsupported page kind: %s" .Kind }}
  {{ end }}
{{ end }}
