body {
  max-width: 600px;
  margin: 0 auto;
}

body > header, footer {
  display: flex;
  column-gap: 1rem;
  background-color: #222;
  color: #d6d6d6;
  padding: 1rem;
  border: 5px solid #444;
  align-items: center;
}

body > header {
  margin: 2rem 0 0 0;
  justify-content: center;
  flex-direction: column;
}

body > header > .badges {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  column-gap: 0.5rem;
}

body > main {
  background-color: white;
  padding: 1rem;
}

a {
  color: #90D355;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer img {
  border: 5px solid #666;
  margin: 5px;
}

footer a {
  font-size: 16px;
  font-style: italic;
}

footer a {
  font-size: 16px;
  font-style: italic;
}

footer > div > *{
  margin: 0;
}

footer > div {
  flex-direction: column;
  row-gap: 0.5 rem;
}

#breadcrumbs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  column-gap: 0;
}

#breadcrumbs li + li::before {
  content: '/';
}
